<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <title>java</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <script language="JavaScript">
        function delCommodity(id){
            if(confirm("是否确认删除？")){
                window.location.href="/delete?id="+id;
            }
        }
    </script>


</head>
<body>
<div th:include="header::common_header"></div>

<div class="main" >
    <di >
        <div>
            <ul>
                <li class="z-sel" ><a href="/">所有内容</a></li>
                <li class="z-sel" th:if="${#strings.equals(session.user, 'buyer')}"><a href="/?type=1">未购买</a></li>
            </ul>
        </div>
    </di>
<!--    https://img1.baidu.com/it/u=2329423632,3218752045&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281-->
    <br>
    <div style="width: 1200px;" th:style="'width: 1200px'" >
        <ul >
            <li id="p" th:each="commodity: ${commoditys}">
                <a th:href=@{/show(id=${commodity.id})} href="/show?id=1"  class="link">
                    <div class="img"><img src="../static/image/book.jpg" th:src="${commodity.imageUrl}"></div>
                    <h3 th:text="${commodity.title}">Java编程思想（第4版</h3>
                    <div class="price" th:style="'float: left;'" style="float: left"><span class="v-unit">¥</span><span class="v-value" th:text="${commodity.price}">1000</span></div>
                    <span  th:if="${#strings.equals(session.user, 'buyer')} and ${commodity.sellNum>0}"  style="margin-left:20%;" th:style="'margin-left:20%;'"><b th:style="'color:red'">已购买</b></span>
                    <span  th:if="${#strings.equals(session.user, 'seller')} and ${commodity.sellNum==0}"  style="margin-left:20%;" th:style="'margin-left:20%;'">
                        <button><a th:style="'color:blue'" th:onclick="delCommodity([[${commodity.id}]])">删除</a></button>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>



</body>
</html>